<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.homespace">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HomeSpace">

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key"/>

        <activity
            android:name=".agentViewProfilePage"
            android:exported="true" />
        <activity
            android:name=".PropertyCompare"
            android:exported="true" />
        <activity
            android:name=".Cart"
            android:exported="true" />
        <activity
            android:name=".PropertyActionPage"
            android:exported="true" />
        <activity
            android:name=".ShareActivity"
            android:exported="true" />
        <activity
            android:name=".Setting"
            android:exported="true" />
        <activity
            android:name=".Profile"
            android:exported="true" />
        <activity
            android:name=".AddItem"
            android:exported="true" />
        <activity
            android:name=".IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PropertyDetail"
            android:exported="true" />
        <activity
            android:name=".MainPage"
            android:exported="true" />
        <activity
            android:name=".Register"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".editProperty"
            android:exported="true"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>